<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">Minimal Shop</a>
    <nav>
      <a href="/">Home</a>
      <a href="/cart">Cart (<%= cartCount %>)</a>
    </nav>
  </div>
</header>
